<form class="newsletter">
  <div class="newsletter__heading">Join our mailing list to stay in touch!</div>
  <div class="newsletter__wrapper">
    <input class="newsletter__input" required name="EMAIL" placeholder="Enter your email">
    <button class="newsletter__button button button--tertiary button--large" type="submit">Get Started</button>
  </div>
  <div class="newsletter__message"></div>
</form>