:root {
  /* Typography */
  --base-font-family: 'Open Sans', sans-serif;
  --heading-font-family: "'Mark Pro'", sans-serif;
  --blog-font-family: 'Merriweather', serif;

  --gutter-width: 20px;

  /* Colors */
  --black: #192534;
  --white: #ffffff;
  --blue-light: #31b4ff;
  --blue: #168eea;
  --blue-ocean: #0f63a4;
  --blue-dark: #192534;
  --gray: #e5e5e5;
  --gray-light: #f5f5f5;

  /* Animations */
  --ease: cubic-bezier(0.16, 0.68, 0.43, 0.99);

  /* Breakpoints */
  @custom-media --small-screen (min-width: 414px);
  @custom-media --medium-screen (min-width: 768px);
  @custom-media --large-screen (min-width: 1024px);

  /* Container mixin */
  @define-mixin m-outer-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);

    @media (--medium-screen) {
      max-width: 1024px;
    }
  }
}
