<section class="banner {{#if green}} banner--green {{/if}}">
  <h2 class="banner__heading">
    {{#if heading}}
      {{heading}}
    {{else}}
      Try Buffer and see the difference.
    {{/if}}
  </h2>
  <a class="button button--large button--secondary" href="#">Start Your Free 14-Day Trial</a>
</section>
