<section class="team">
  <div class="team__container">
    <div class="team__header">
      <div class="team__headerText">
        <h2 class="team__heading">The Buffer Team</h2>
        <h3 class="team__subheading">We're a fully distributed team, meaning that we'll be fixing bugs and replying to your questions from around the world!</h3>
        <p class="team__description">The Buffer team works from multiple countries and continents. Living in a place that makes you happy is one of our core beliefs, and has stayed with the company since the beginning.</p>
        <a class="team__link" href="#">Learn about our remote work setup.</a>
        <a class="team__link" href="#">Explore working at buffer</a>
      </div>
      <img class="team__headerImage" src="/img/globe.svg" />
    </div>
    <div class="team__list">
      <div class="team__row">
        <div class="team__rowWrapper">
          <div class="team__item">
            <img class="team__avatar" src="/img/joel.png" />
            <div class="team__itemHeading">Joel</div>
            <div class="team__itemSubheading">Co-Founder, CEO</div>
          </div>
          <div class="team__item">
            <img class="team__avatar" src="/img/andrew.png" />
            <div class="team__itemHeading">Andrew</div>
            <div class="team__itemSubheading">Senior Engineer</div>
          </div>
          <div class="team__item">
            <img class="team__avatar" src="/img/carolyn.png" />
            <div class="team__itemHeading">Caroyln</div>
            <div class="team__itemSubheading">Chief Customer Officer</div>
          </div>
          <div class="team__item">
            <img class="team__avatar" src="/img/asa.png" />
            <div class="team__itemHeading">Asa</div>
            <div class="team__itemSubheading">Directory of Customer Advocacy</div>
          </div>
          <div class="team__item">
            <img class="team__avatar" src="/img/adam.png" />
            <div class="team__itemHeading">Adam</div>
            <div class="team__itemSubheading">Tech Hero</div>
          </div>
          <div class="team__item">
            <img class="team__avatar" src="/img/kevan.png" />
            <div class="team__itemHeading">Kevan</div>
            <div class="team__itemSubheading">Directory of Marketing</div>
          </div>
        </div>
      </div>
      <div class="team__row">
        <div class="team__rowWrapper">
          <div class="team__item">
            <img class="team__avatar" src="/img/joel.png" />
            <div class="team__itemHeading">Joel</div>
            <div class="team__itemSubheading">Co-Founder, CEO</div>
          </div>
          <div class="team__item">
            <img class="team__avatar" src="/img/andrew.png" />
            <div class="team__itemHeading">Andrew</div>
            <div class="team__itemSubheading">Senior Engineer</div>
          </div>
          <div class="team__item">
            <img class="team__avatar" src="/img/carolyn.png" />
            <div class="team__itemHeading">Caroyln</div>
            <div class="team__itemSubheading">Chief Customer Officer</div>
          </div>
          <div class="team__item">
            <img class="team__avatar" src="/img/asa.png" />
            <div class="team__itemHeading">Asa</div>
            <div class="team__itemSubheading">Directory of Customer Advocacy</div>
          </div>
          <div class="team__item">
            <img class="team__avatar" src="/img/adam.png" />
            <div class="team__itemHeading">Adam</div>
            <div class="team__itemSubheading">Tech Hero</div>
          </div>
          <div class="team__item">
            <img class="team__avatar" src="/img/kevan.png" />
            <div class="team__itemHeading">Kevan</div>
            <div class="team__itemSubheading">Directory of Marketing</div>
          </div>
        </div>
      </div>
    </div>
    <div class="team__button">
      View More
      <svg class="team__chevron">
        <use xlink:href="/dist/symbol-defs.svg#chevron-down"></use>
      </svg>
    </div>
  </div>
</section>
