<section class="faq">
  <div class="faq__container">
    <div class="faq__header">
      <h2 class="faq__heading">Commonly Asked Questions</h2>
    </div>
    <div class="faq__list">
      <div class="faq__item">
        <div class="faq__question">
          <div class="faq__questionWrapper">
            <span class="faq__label">Q.</span>
            How much does Buffer Reply cost?
          </div>
          <svg class="faq__chevron">
            <use xlink:href="/dist/symbol-defs.svg#chevron-down"></use>
          </svg>
        </div>
        <div class="faq__answer">
          <div class="faq__answerWrapper">
            <span class="faq__label">A.</span>
            Pricing is based on few things like how many users you need, how many social profiles you'd like to connect and which product edition you choose. Pricing starts at $50/mo for our Professional edition and $250/mo for our Business edition. Your first user and social profile are included. Additional users are $25/user/month and social profiles are $10/profile/month.
          </div>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          <div class="faq__questionWrapper">
            <span class="faq__label">Q.</span>
            How much does Buffer Reply cost?
          </div>
          <svg class="faq__chevron">
            <use xlink:href="/dist/symbol-defs.svg#chevron-down"></use>
          </svg>
        </div>
        <div class="faq__answer">
          <div class="faq__answerWrapper">
            <span class="faq__label">A.</span>
            Pricing is based on few things like how many users you need, how many social profiles you'd like to connect and which product edition you choose. Pricing starts at $50/mo for our Professional edition and $250/mo for our Business edition. Your first user and social profile are included. Additional users are $25/user/month and social profiles are $10/profile/month.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>