<section class="plans" data-plans>
  <div class="plans__container">
    <div class="plans__header">
      <h2 class="plans__heading">Create the perfect plan</h2>
      <h3 class="plans__subheading">Everything you need, nothing you don't</h3>
    </div>
    <div class="plans__rangeGroup">
      <div class="plans__range">
        <div class="plans__rangeTitle">3 Users</div>
        <input class="plans__rangeInput" data-type="users" data-multiplier="25" type="range" min="1" max="15" step="1" value="1">
        <div class="plans__rangeTicks"></div>
      </div>
      <div class="plans__rangeDivider"></div>
      <div class="plans__range">
        <div class="plans__rangeTitle">2 Social Profiles</div>
        <input class="plans__rangeInput" data-type="profiles" data-multiplier="10" type="range" min="1" max="15" step="1" value="1">
        <div class="plans__rangeTicks"></div>
      </div>
    </div>
    <div class="plans__cards">
      <div class="plans__card">
        <div class="plans__cardHeader">
          <h4 class="plans__cardHeading">
            Professional
          </h4>
          <h5 class="plans__cardSubheading js-professional">$50/mo</h5>
          <p class="plans__cardDescription">
            Everything a small team needs to get started with social customer care and community building.
          </p>
        </div>
        <div class="plans__cardBody">
          <ul class="plans__cardList">
            <li class="plans__cardListItem">Beautiful Design</li>
            <li class="plans__cardListItem">Worry-free scheduling</li>
            <li class="plans__cardListItem">Simple charts and graphs</li>
            <li class="plans__cardListItem">99% uptime and reliability</li>
            <li class="plans__cardListItem">24/7 customer support</li>
          </ul>
          <div class="plans__cardFooter">
            <a class="plans__cardButton button button--tertiary" href="#">
              Get Started
            </a>
            <a class="plans__cardLink" href="#">See All Features</a>
          </div>
        </div>
      </div>
      <div class="plans__card">
        <div class="plans__cardHeader">
          <h4 class="plans__cardHeading">
            Business
          </h4>
          <h5 class="plans__cardSubheading js-business">$225/mo</h5>
          <p class="plans__cardDescription">
            Everything a small team needs to get started with social customer care and community building.
          </p>
        </div>
        <div class="plans__cardBody">
          <ul class="plans__cardList">
            <li class="plans__cardListItem">Beautiful Design</li>
            <li class="plans__cardListItem">Worry-free scheduling</li>
            <li class="plans__cardListItem">Simple charts and graphs</li>
            <li class="plans__cardListItem">99% uptime and reliability</li>
            <li class="plans__cardListItem">24/7 customer support</li>
          </ul>
          <div class="plans__cardFooter">
            <a class="plans__cardButton button button--tertiary" href="#">
              Get Started
            </a>
            <a class="plans__cardLink" href="#">See All Features</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>