<section class='plans plans--tertiary'>
  <div class="plans__container">
    <div class="plans__header">
      <h2 class="plans__heading">Find a plan that's<br> right for you</h2>
      <h3 class="plans__subheading">Get started for free. No credit card required! All<br> prices are all-inclusive as opposed to a "per team<br>member" cost.</h3>
    </div>
    <div class="plans__cards">
      <div class="plans__card">
        <div class="plans__cardHeader">
          <h4 class="plans__cardHeading">
            Individual
          </h4>
          <h5 class="plans__cardSubheading js-professional">Free</h5>
          <p class="plans__cardDescription">
            <strong>1</strong> Social Profile per Platform<br>
            <strong>10</strong> Scheduled Posts per Profile
          </p>
        </div>
        <div class="plans__cardBody">
          <ul class="plans__cardList">
            <li class="plans__cardListItem">Beautiful Design</li>
            <li class="plans__cardListItem">Worry-free scheduling</li>
            <li class="plans__cardListItem">Simple charts and graphs</li>
            <li class="plans__cardListItem">99% uptime and reliability</li>
            <li class="plans__cardListItem">24/7 customer support</li>
          </ul>
          <div class="plans__cardFooter">
            <a class="plans__cardButton button button--tertiary" href="#">
              Start A Trial
            </a>
          </div>
        </div>
      </div>
      <div class="plans__card">
        <div class="plans__cardHeader">
          <h4 class="plans__cardHeading">
            Awesome
          </h4>
          <h5 class="plans__cardSubheading js-business">$10/mo</h5>
          <p class="plans__cardDescription">
            <strong>1</strong> Social Profile per Platform<br>
            <strong>10</strong> Scheduled Posts per Profile
          </p>
        </div>
        <div class="plans__cardBody">
          <ul class="plans__cardList">
            <li class="plans__cardListItem">Beautiful Design</li>
            <li class="plans__cardListItem">Worry-free scheduling</li>
            <li class="plans__cardListItem">Simple charts and graphs</li>
            <li class="plans__cardListItem">99% uptime and reliability</li>
            <li class="plans__cardListItem">24/7 customer support</li>
          </ul>
          <div class="plans__cardFooter">
            <a class="plans__cardButton button button--tertiary" href="#">
              Start A Trial
            </a>
          </div>
        </div>
      </div>
      <div class="plans__card">
        <div class="plans__cardHeader">
          <h4 class="plans__cardHeading">
            Business
          </h4>
          <h5 class="plans__cardSubheading js-business">$99/mo</h5>
          <p class="plans__cardDescription">
            <strong>25+</strong> Social Profiles<br>
            <strong>2,000</strong> Scheduled Posts per Profile<br>
            <strong>5+</strong> Additional Team Members
          </p>
        </div>
        <div class="plans__cardBody">
          <ul class="plans__cardList">
            <li class="plans__cardListItem">Beautiful Design</li>
            <li class="plans__cardListItem">Worry-free scheduling</li>
            <li class="plans__cardListItem">Simple charts and graphs</li>
            <li class="plans__cardListItem">99% uptime and reliability</li>
            <li class="plans__cardListItem">24/7 customer support</li>
            <li class="plans__cardListItem">A dedicated team to serve you</li>
          </ul>
          <div class="plans__cardFooter">
            <a class="plans__cardButton button button--tertiary" href="#">
              Start A Trial
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>