<section class='carousel'>
  <div class="carousel__header">
    <h2 class="carousel__heading">Customer Stories</h2>
  </div>
  <div class="carousel__cards">
    <div class="carousel__cardsControl">
      <div class="carousel__previousButton">
        <use xlink:href="/dist/symbol-defs.svg#arrow-left"></use>
      </div>
      <svg class="carousel__nextButton">
        <use xlink:href="/dist/symbol-defs.svg#arrow-right"></use>
      </svg>
    </div>
    <div class="carousel__cardsContainer">
      <a class="carousel__card" href="#">
        <div class="carousel__cardImage" style="background-image: url('/img/skyline.jpg')">
          <img class="carousel__cardIcon" src="/img/broncos.svg" />
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardDescription">
            How Business Insider grew its Facebook page to 1M+ fans with Buffer
          </div>
          <div class="carousel__cardCallToAction">
            Read the Case Study
          </div>
        </div>
      </a>
      <a class="carousel__card" href="#">
        <div class="carousel__cardImage" style="background-image: url('/img/skyline.jpg')">
          <img class="carousel__cardIcon" src="/img/broncos.svg" />
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardDescription">
            How Business Insider grew its Facebook page to 1M+ fans with Buffer
          </div>
          <div class="carousel__cardCallToAction">
            Read the Case Study
          </div>
        </div>
      </a>
      <a class="carousel__card" href="#">
        <div class="carousel__cardImage" style="background-image: url('/img/skyline.jpg')">
          <img class="carousel__cardIcon" src="/img/broncos.svg" />
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardDescription">
            How Business Insider grew its Facebook page to 1M+ fans with Buffer
          </div>
          <div class="carousel__cardCallToAction">
            Read the Case Study
          </div>
        </div>
      </a>
      <a class="carousel__card" href="#">
        <div class="carousel__cardImage" style="background-image: url('/img/skyline.jpg')">
          <img class="carousel__cardIcon" src="/img/broncos.svg" />
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardDescription">
            How Business Insider grew its Facebook page to 1M+ fans with Buffer
          </div>
          <div class="carousel__cardCallToAction">
            Read the Case Study
          </div>
        </div>
      </a>
      <a class="carousel__card" href="#">
        <div class="carousel__cardImage" style="background-image: url('/img/skyline.jpg')">
          <img class="carousel__cardIcon" src="/img/broncos.svg" />
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardDescription">
            How Business Insider grew its Facebook page to 1M+ fans with Buffer
          </div>
          <div class="carousel__cardCallToAction">
            Read the Case Study
          </div>
        </div>
      </a>
      <a class="carousel__card" href="#">
        <div class="carousel__cardImage" style="background-image: url('/img/skyline.jpg')">
          <img class="carousel__cardIcon" src="/img/broncos.svg" />
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardDescription">
            How Business Insider grew its Facebook page to 1M+ fans with Buffer
          </div>
          <div class="carousel__cardCallToAction">
            Read the Case Study
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="carousel__footer">
    <a class="carousel__callToAction button button--large button--tertiary" href="#">
      See All Customer Stories
    </a>
  </div>
</section>