<section class='carousel'>
  <div class="carousel__header">
    <h2 class="carousel__heading">Open Roles</h2>
  </div>
  <div class="carousel__cards">
    <div class="carousel__cardsControl">
      <svg class="carousel__previousButton">
        <use xlink:href="/dist/symbol-defs.svg#arrow-left"></use>
      </svg>
      <svg class="carousel__nextButton">
        <use xlink:href="/dist/symbol-defs.svg#arrow-right"></use>
      </svg>
    </div>
    <div class="carousel__cardsContainer">
      <a class="carousel__card">
        <div class="carousel__cardImage" style="background-image: url('/img/face.jpg')">
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardHeading">
            Customer Advocate
          </div>
          <div class="carousel__cardCallToAction">
            Learn More
          </div>
        </div>
      </a>
      <a class="carousel__card">
        <div class="carousel__cardImage" style="background-image: url('/img/face.jpg')">
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardHeading">
            Customer Advocate
          </div>
          <div class="carousel__cardCallToAction">
            Learn More
          </div>
        </div>
      </a>
      <a class="carousel__card">
        <div class="carousel__cardImage" style="background-image: url('/img/face.jpg')">
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardHeading">
            Customer Advocate
          </div>
          <div class="carousel__cardCallToAction">
            Learn More
          </div>
        </div>
      </a>
      <a class="carousel__card">
        <div class="carousel__cardImage" style="background-image: url('/img/face.jpg')">
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardHeading">
            Customer Advocate
          </div>
          <div class="carousel__cardCallToAction">
            Learn More
          </div>
        </div>
      </a>
      <a class="carousel__card">
        <div class="carousel__cardImage" style="background-image: url('/img/face.jpg')">
        </div>
        <div class="carousel__cardBody">
          <div class="carousel__cardHeading">
            Customer Advocate
          </div>
          <div class="carousel__cardCallToAction">
            Learn More
          </div>
        </div>
      </a>
    </div>
  </div>
</section>