.carousel {
  overflow: hidden;
  padding: 50px 0;

  @media (--medium-screen) {
    padding: 100px 0;
  }

  .slick-track,
  .slick-list {
    width: 100%;
  }

  .slick-list {
    overflow: initial;
  }

  .slick-slide {
    position: relative;
    top: 40px;

    > div {
      margin: 0 20px;
    }
  }
}

.carousel__header {
  @mixin m-outer-container;
}

.carousel__heading {
  font-family: var(--heading-font-family);
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
  @media (--medium-screen) {
    font-size: 50px;
    line-height: 53px;
    margin-bottom: 100px;
  }

  &:after {
    background-color: var(--blue);
    content: '';
    display: block;
    position: relative;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 72px;
  }
}

.carousel__cards {
  @mixin m-outer-container;
  position: relative;
}

.carousel__cardsContainer {
  overflow: hidden;
  display: flex;
  width: 100%;
  margin-top: -40px;
  padding-bottom: 40px;
}

.carousel__card {
  border: 1px solid var(--gray);
  overflow: hidden;
  display: block;
  cursor: pointer;
  border-radius: 8px;

  @media (--large-screen) {
    height: 466px;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(203, 203, 203, 0.5);
      transform: translateY(-15px);
      transition: box-shadow 0.2s, transform 0.2s;
    }
  }
}

.carousel__cardImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  @media (--medium-screen) {
    height: 250px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(43, 172, 251, 0.5);
  }
}

.carousel__cardsControl {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: -45px;
  @media (min-width: 1170px) {
    bottom: initial;
    width: initial;
    display: initial;
    position: initial;
  }
}

.carousel__previousButton,
.carousel__nextButton {
  color: var(--blue);
  cursor: pointer;
  height: 30px;
  width: 30px;
  z-index: 10;
  @media (min-width: 1170px) {
    position: absolute;
    height: 35px;
    width: 35px;
    transform: translateY(-50%);
    top: 50%;
    bottom: initial;
  }
}

.carousel__previousButton {
  margin-right: 5px;
  transform: scale(1);
  transition: transform 0.3s;
  @media (min-width: 1170px) {
    left: -50px;
  }

  &:hover {
    transition: transform 0.3s;
    transform: scale(1.2);
  }
}

.carousel__nextButton {
  margin-left: 5px;
  transform: scale(1);
  transition: transform 0.3s;
  @media (min-width: 1170px) {
    right: -50px;
  }
  &:hover {
    transition: transform 0.3s;
    transform: scale(1.2);
  }
}

.carousel__cardHeading {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  @media (--medium-screen) {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 20px;
  }
}

.carousel__cardDescription {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.carousel__cardCallToAction {
  font-size: 14px;
  color: var(--blue);
  text-decoration: underline;
  @media (--medium-screen) {
    font-size: 16px;
  }
}

.carousel__cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 25px;
  height: calc(100% - 250px);
  @media (--medium-screen) {
    padding: 35px;
  }
}

.carousel__cardIcon {
  z-index: 5;
}

.carousel__footer {
  margin-top: 60px;
  text-align: center;
}
