<section class="listCard">
  <div class="listCard__container">
    <div class="listCard__header">
      <h2 class="listCard__heading">
        Open Roles
      </h2>
    </div>
    <div class="listCard__list">
      <a class="listCard__item" href="#">
        <div class="listCard__itemWrapper">
          <div>Administrator</div>
          <div>2 Open Roles</div>
        </div>
        <svg class="listCard__chevron">
          <use xlink:href="/dist/symbol-defs.svg#chevron-right"></use>
        </svg>
      </a>
      <a class="listCard__item" href="#">
        <div class="listCard__itemWrapper">
          <div>Administrator</div>
          <div>2 Open Roles</div>
        </div>
        <svg class="listCard__chevron">
          <use xlink:href="/dist/symbol-defs.svg#chevron-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
