<section class="board {{#if animation }} board--animate {{/if}}">
  <div class="board__container">
    <div class="board__header">
      <h2 class="board__heading">Social Media, streamlined</h2>
      <h3 class="board__subheading">
        We're here to help you succeed on social. Pick and choose the tools you need: Publish, Analyze, and Reply.
      </h3>
    </div>
    <div class="board__list">
      <article class="board__row" data-scroll="offset(0,-150px)">
        <div class="board__rowText">
          <img class="board__rowIcon" src="/img/publish-circle.svg" />
          <h4 class="board__rowHeading">Buffer Publish</h4>
          <h5 class="board__rowSubheading">Plan and schedule social media posts with ease</h5>
          <p class="board__rowDescription">
            Manage multiple accounts at once without logging in to each. Collaborate with your team, and schedule content – all in one convenient place.
          </p>
          <a class="board__rowCallToAction" href="#">Learn More</a>
        </div>
        <img class="board__rowImage" src="/img/publish.png" />
      </article>
      <article class="board__row" data-scroll="offset(0,-150px)">
        <div class="board__rowText">
          <img class="board__rowIcon" src="/img/reply-circle.svg" />
          <h4 class="board__rowHeading">Buffer Reply</h4>
          <h5 class="board__rowSubheading">Always answer your audience on social</h5>
          <p class="board__rowDescription">
            Enjoy a unified team inbox, full of the conversations that matter to your business. Solve problems, engage with customers, and respond to everything.
          </p>
        </div>
        <img class="board__rowImage" src="/img/reply.png" />
      </article>
      <article class="board__row" data-scroll="offset(0,-150px)">
        <div class="board__rowText">
          <img class="board__rowIcon" src="/img/analyze-circle.svg" />
          <h4 class="board__rowHeading">Buffer Analyze</h4>
          <h5 class="board__rowSubheading">Plan and schedule social media posts with ease</h5>
          <p class="board__rowDescription">
            Manage multiple accounts at once without logging in to each. Collaborate with your team, and schedule content – all in one convenient place.
          </p>
        </div>
        <img class="board__rowImage" src="/img/analyze.png" />
      </article>
    </div>
  </div>
</section>
