<section class="board board--secondary{{#if animation }} board--animate{{/if}}" data-youtube-url="https://www.youtube.com/watch?v=zAnJmEmWIBw">
  <div class="board__container">
    <div class="board__header">
      <h2 class="board__heading">Schedule your social media posts for later</h2>
      <h3 class="board__subheading">
        Quickly and easily schedule posts for all of your social accounts and Buffer will publish them automatically, according to the posting schedule you put in place.
      </h3>
      <a class="board__callToAction" href="#">Schedule your first post now</a>
      <div class="board__videoPreview" style="background-image: url('/img/dashboard-preview.png')">
        <a class="board__videoPlayButton button button--tertiary button--large button--icon" href="#">
          Watch Video
          <svg class="button__icon">
            <use xlink:href="/dist/symbol-defs.svg#play"></use>
          </svg>
        </a>
      </div>
      <div class="board__videoEmbed">
        <svg class="board__videoCloseButton">
          <use xlink:href="/dist/symbol-defs.svg#close"></use>
        </svg>
        <div class="board__video" id='player1'></div>
      </div>
    </div>
    <div class="board__list">
      <article class="board__row" data-scroll="offset(0,-150px)">
        <div class="board__rowText">
          <h4 class="board__rowHeading">Set your posting schedule</h4>
          <h5 class="board__rowSubheading">Choose the dates and times you want to publish to each account. Just set this once and you're good to go!</h5>
        </div>
        <img class="board__rowImage" src="/img/schedule.png" />
      </article>
      <article class="board__row" data-scroll="offset(0,-150px)">
        <div class="board__rowText">
          <h4 class="board__rowHeading">Add posts to your Buffer queue</h4>
          <h5 class="board__rowSubheading">Create social media posts when you have time, and Buffer will automatically share them according to your schedule.</h5>
        </div>
        <img class="board__rowImage" src="/img/queue.png" />
      </article>
      <article class="board__row" data-scroll="offset(0,-150px)">
        <div class="board__rowText">
          <h4 class="board__rowHeading">Build your following</h4>
          <h5 class="board__rowSubheading">Buffer makes it easy to maintain a consistent presence on social, so you can build your following and influence.</h5>
        </div>
        <img class="board__rowImage" src="/img/stats.png" />
      </article>
    </div>
    <div class="board__footer">
      <img class="board__footerImage" src="/img/iphone.png" alt="Buffer for Instagram">
      <div class="board__footerBody">
        <img class="board__footerIcon" src="/img/instagram-circle.svg" alt="Buffer for Instagram">
        <h4 class="board__footerHeading">
          Buffer for Instagram
        </h4>
        <h5 class="board__footerSubheading">
          Manage social media from anywhere
        </h5>
        <p class="board__footerDescription">
          Take Buffer with you. Manage everything on-the-go with apps for iOS and Android
        </p>
        <a class="board__footerCallToAction" href="#">Download the free app to get started</a>
      </div>
    </div>
  </div>
</section>
