<section class="board board--tertiary{{#if animation }} board--animate {{/if}}">
  <div class="board__container">
    <div class="board__list">
      <article class="board__row" data-scroll="offset(0,-150px)">
        <div class="board__rowText">
          <h4 class="board__rowHeading">Where will I work?</h4>
          <p class="board__rowDescription">
            You will work in the place that makes you happy, that inspires you daily, and helps you to become the person that you wish to be. You will work daily with team members scattered around the world and across time zones to build a better culture and product.
          </p>
          <a class="board__rowCallToAction" href="#">More about how we work remotely</a>
          <a class="board__rowCallToAction" href="#">See where the Buffer team is now</a>
        </div>
        <img class="board__rowImage" src="/img/where.png" />
      </article>
      <article class="board__row" data-scroll="offset(0,-150px)">
        <div class="board__rowText">
          <h4 class="board__rowHeading">How does work happen at Buffer?</h4>
          <p class="board__rowDescription">
            At Buffer, over the years, we’ve experimented with new elements of work: titles and no titles, managers and no managers, office and no office. Today, while we've gone our own path when it comes to management structure and company vision, we still don’t work from a fixed location and one big element we've kept is the concept of wholeness. This is the belief that we should be not only allowed but encouraged to bring our full self to work, including our passions and strengths, flaws and vulnerabilities.
          </p>
        </div>
        <img class="board__rowImage" src="/img/how.png" />
      </article>
      <article class="board__row" data-scroll="offset(0,-150px)">
        <div class="board__rowText">
          <h4 class="board__rowHeading">What is the Buffer team like?</h4>
          <p class="board__rowDescription">What kind of people work at Buffer? All kinds!</p>
          <p class="board__rowDescription">Buffer is an equal opportunity employer that has the awesome opportunity to add teammates from anywhere in the world! We're united by Buffer's values, and we celebrate our unique differences.</p>
          <p class="board__rowDescription">We're excited about diversity and inclusivity—we hire talented teammates from a wide variety of backgrounds and experiences, and we're committed to a work environment of respect and kindness.</p>
          <a class="board__rowCallToAction" href="#">More about our focus on diversity</a>
          <a class="board__rowCallToAction" href="#">More about our values</a>
        </div>
        <img class="board__rowImage" src="/img/what.png" />
      </article>
    </div>
  </div>
</section>
