<section class="logowall {{#if animation}} logowall--animate {{/if}}" data-scroll="offset(0,-150px)">
    <h2 class="logowall__heading">
      {{#if heading}}
        {{heading}}
      {{else}}
        We’re delighted to support 4,000,000+ marketers in their social media success
      {{/if}}
    </h2>

    <ul class="logowall__list">
      <li class="logowall__item">
        <img class="logowall__img" src="/img/logowall-1.jpg" alt="Logo wall image" />
      </li>
      <li class="logowall__item">
        <img class="logowall__img" src="/img/logowall-2.jpg" alt="Logo wall image" />
      </li>
      <li class="logowall__item">
        <img class="logowall__img" src="/img/logowall-3.jpg" alt="Logo wall image" />
      </li>
      <li class="logowall__item">
        <img class="logowall__img" src="/img/logowall-4.jpg" alt="Logo wall image" />
      </li>
      <li class="logowall__item">
        <img class="logowall__img" src="/img/logowall-5.jpg" alt="Logo wall image" />
      </li>
    </ul>
</section>
