<section class='testimonials'>
  <div class="testimonials__header">
    <h2 class="testimonials__heading">@bufferlove</h2>
  </div>
  <div class="testimonials__cards">
    <div class="testimonials__cardsControl">
      <svg class="testimonials__previousButton">
        <use xlink:href="/dist/symbol-defs.svg#arrow-left"></use>
      </svg>
      <svg class="testimonials__nextButton">
        <use xlink:href="/dist/symbol-defs.svg#arrow-right"></use>
      </svg>
    </div>
    <div class="testimonials__cardsContainer">
      <div class="testimonials__card">
        <div class="testimonials__cardHeader">
          <div class="testimonials__cardAvatar" style="background-image:url('/img/avatar.jpg')"></div>
          <div class="testimonials__cardAvatarName">Monica Roberts</div>
          <div class="testimonials__cardAvatarHandle">@MonHerbalHealth</div>
        </div>
        <div class="testimonials__cardBody">
          <div class="testimonials__cardDescription">
            <a href="https://twitter.com/buffer">@buffer</a> I makes life so simple and easy to navigate social media.
          </div>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img class="testimonials__cardIcon" src="/img/twitter.svg" />
          </a>
        </div>
      </div>
      <div class="testimonials__card">
        <div class="testimonials__cardHeader">
          <div class="testimonials__cardAvatar" style="background-image:url('/img/avatar.jpg')"></div>
          <div class="testimonials__cardAvatarName">Monica Roberts</div>
          <div class="testimonials__cardAvatarHandle">@MonHerbalHealth</div>
        </div>
        <div class="testimonials__cardBody">
          <div class="testimonials__cardDescription">
            <a href="https://twitter.com/buffer">@buffer</a> I makes life so simple and easy to navigate social media.
          </div>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img class="testimonials__cardIcon" src="/img/twitter.svg" />
          </a>
        </div>
      </div>
      <div class="testimonials__card">
        <div class="testimonials__cardHeader">
          <div class="testimonials__cardAvatar" style="background-image:url('/img/avatar.jpg')"></div>
          <div class="testimonials__cardAvatarName">Monica Roberts</div>
          <div class="testimonials__cardAvatarHandle">@MonHerbalHealth</div>
        </div>
        <div class="testimonials__cardBody">
          <div class="testimonials__cardDescription">
            <a href="https://twitter.com/buffer">@buffer</a> I makes life so simple and easy to navigate social media.
          </div>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img class="testimonials__cardIcon" src="/img/twitter.svg" />
          </a>
        </div>
      </div>
      <div class="testimonials__card">
        <div class="testimonials__cardHeader">
          <div class="testimonials__cardAvatar" style="background-image:url('/img/avatar.jpg')"></div>
          <div class="testimonials__cardAvatarName">Monica Roberts</div>
          <div class="testimonials__cardAvatarHandle">@MonHerbalHealth</div>
        </div>
        <div class="testimonials__cardBody">
          <div class="testimonials__cardDescription">
            <a href="https://twitter.com/buffer">@buffer</a> I makes life so simple and easy to navigate social media.
          </div>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img class="testimonials__cardIcon" src="/img/twitter.svg" />
          </a>
        </div>
      </div>
      <div class="testimonials__card">
        <div class="testimonials__cardHeader">
          <div class="testimonials__cardAvatar" style="background-image:url('/img/avatar.jpg')"></div>
          <div class="testimonials__cardAvatarName">Monica Roberts</div>
          <div class="testimonials__cardAvatarHandle">@MonHerbalHealth</div>
        </div>
        <div class="testimonials__cardBody">
          <div class="testimonials__cardDescription">
            <a href="https://twitter.com/buffer">@buffer</a> I makes life so simple and easy to navigate social media.
          </div>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img class="testimonials__cardIcon" src="/img/twitter.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>