<footer class='footer'>
  <div class="footer__container">
    <div class="footer__wrapper">
      <div class="footer__description">
        <svg class="footer__logo">
          <use xlink:href="/dist/symbol-defs.svg#logo-icon"></use>
        </svg>
        Buffer is a premium social media management tool for social media marketers and teams. Experience how smooth social media can be!
      </div>
      <div class="footer__groups">
        <div class="footer__group">
          <div class="footer__groupHeading">
            Buffer
          </div>
          <ul class="footer__groupList">
            <li class="footer__groupItem">
              <a class="footer__link" href="#">About Us</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Our Team</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Feedback</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Press</a>
            </li>
          </ul>
        </div>
        <div class="footer__group">
          <div class="footer__groupHeading">
            Help & Support
          </div>
          <ul class="footer__groupList">
            <li class="footer__groupItem">
              <a class="footer__link" href="#">FAQ</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Guides & Tutorials</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Case Studies</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Webinars</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Tweet @ Us</a>
            </li>
          </ul>
        </div>
        <div class="footer__group">
          <div class="footer__groupHeading">
            The Awesome Plan
          </div>
          <ul class="footer__groupList">
            <li class="footer__groupItem">
              <a class="footer__link" href="#">The Awesome Plan</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Buffer for Business</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Buffer for Nonprofits</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Pricing Range</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Pablo Image Creator</a>
            </li>
          </ul>
        </div>
        <div class="footer__group">
          <div class="footer__groupHeading">
            Buffer-to-go
          </div>
          <ul class="footer__groupList">
            <li class="footer__groupItem">
              <a class="footer__link" href="#">iPhone & iPad App</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Android App</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Browser Extension</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Apps & Extras</a>
            </li>
          </ul>
        </div>
        <div class="footer__group">
          <div class="footer__groupHeading">
            Culture
          </div>
          <ul class="footer__groupList">
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Social Media Blog</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Culture Blog</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Engineering Blog</a>
            </li>
            <li class="footer__groupItem">
              <a class="footer__link" href="#">Transparency</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <p class="footer__copyright">
      Copyright ©2017 Buffer — <a href="#">Privacy</a> — <a href="#">Terms</a> — <a href="#">Security</a>
    </p>
  </div>
</footer>
