<section class="brochure">
  <div class="brochure__container">
    <div class="brochure__header">
      <h2 class="brochure__heading">Perks & Benefits</h2>
      <h3 class="brochure__subheading">We hope that you're excited by all the possibilities that come with working at Buffer! In addition to our unique culture, we also offer these fun perks and benefits:</h3>
    </div>
    <div class="brochure__list">
      <div class="brochure__item">
        <svg class="brochure__itemIcon">
          <use xlink:href="/dist/symbol-defs.svg#apple"></use>
        </svg>
        <div class="brochure__itemText">
          <h3 class="brochure__itemHeading">Technology</h3>
          <p class="brochure__itemDescription">
            Get hooked up with a Macbook to do your best work.
          </p>
        </div>
      </div>
      <div class="brochure__item">
        <svg class="brochure__itemIcon">
          <use xlink:href="/dist/symbol-defs.svg#kindle"></use>
        </svg>
        <div class="brochure__itemText">
          <h3 class="brochure__itemHeading">Free Books & Kindle</h3>
          <p class="brochure__itemDescription">
            We'll send you free books and Kindles, no questions asked.
          </p>
        </div>
      </div>
      <div class="brochure__item">
        <svg class="brochure__itemIcon">
          <use xlink:href="/dist/symbol-defs.svg#plane"></use>
        </svg>
        <div class="brochure__itemText">
          <h3 class="brochure__itemHeading">Retreats</h3>
          <p class="brochure__itemDescription">
            Join us on annual international company retreats! Our last retreat was in Madrid, Spain!
          </p>
        </div>
      </div>
      <div class="brochure__item">
        <svg class="brochure__itemIcon">
          <use xlink:href="/dist/symbol-defs.svg#pin"></use>
        </svg>
        <div class="brochure__itemText">
          <h3 class="brochure__itemHeading">Work Remotely</h3>
          <p class="brochure__itemDescription">
            Live and work from wherever makes you the happiest!
          </p>
        </div>
      </div>
      <div class="brochure__item">
        <svg class="brochure__itemIcon">
          <use xlink:href="/dist/symbol-defs.svg#vacation"></use>
        </svg>
        <div class="brochure__itemText">
          <h3 class="brochure__itemHeading">Unlimited Time-off</h3>
          <p class="brochure__itemDescription">
            Our only policy is that you take the time you need to recharge!
          </p>
        </div>
      </div>
      <div class="brochure__item">
        <svg class="brochure__itemIcon">
          <use xlink:href="/dist/symbol-defs.svg#family"></use>
        </svg>
        <div class="brochure__itemText">
          <h3 class="brochure__itemHeading">Family Leave</h3>
          <p class="brochure__itemDescription">
            If your family grows during your time at Buffer, we recommend taking anywhere from 1-3 months of family leave, regardless of when you joined.
          </p>
        </div>
      </div>
    </div>
    <div class="brochure__cards">
      <div class="brochure__card">
        <div class="brochure__cardImage" style="background-image: url('/img/road.jpg')">
          The Buffer<br>Vision
        </div>
        <div class="brochure__cardBody">
          <div class="brochure__cardDescription">
            How Business Insider grew its Facebook page to 1M+ fans with Buffer
          </div>
          <a class="brochure__cardCallToAction" href="">
            Read the blog
          </a>
        </div>
      </div>
      <div class="brochure__card">
        <div class="brochure__cardImage" style="background-image: url('/img/road.jpg')">
          The 10<br>Buffer Values
        </div>
        <div class="brochure__cardBody">
          <div class="brochure__cardDescription">
            In Buffer's founding months, Joel and Leo read, re-read and internalized Dale Carnegie's famous book, "How to Win Friends and Influence People." Many of the Buffer…
          </div>
          <a class="brochure__cardCallToAction" href="">
            Read the blog
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
