<div class="menu">
  <div class="menu__header">
    <img class="menu__logo" src="/img/logo.svg" alt="Buffer">
    <div class="menu__closeButton">
      <div class="menu__closeButtonBar menu__closeButtonBar--top"></div>
      <div class="menu__closeButtonBar menu__closeButtonBar--middle"></div>
      <div class="menu__closeButtonBar menu__closeButtonBar--bottom"></div>
    </div>
  </div>
  <nav class="menu__list">
    <div class="menu__listItem">
      <div class="menu__listItemHeading">
        Products
        <svg class="menu__listItemArrow">
          <use xlink:href="/dist/symbol-defs.svg#chevron-down"></use>
        </svg>
      </div>
      <div class="menu__sublist">
        <div class="menu__sublistItem">
          <div class="menu__sublistItemHeading">
            Buffer Publish
          </div>
          <div class="menu__sublistItemSubheading">
            Content collaboration and scheduling
          </div>
        </div>
        <div class="menu__sublistItem">
          <div class="menu__sublistItemHeading">
            Buffer Reply
          </div>
          <div class="menu__sublistItemSubheading">
            Unified team inbox and support
          </div>
        </div>
        <div class="menu__sublistItem">
          <div class="menu__sublistItemHeading">
            Buffer Analyze
          </div>
          <div class="menu__sublistItemSubheading">
            Analytics and marketing insights
          </div>
        </div>
      </div>
    </div>
    <div class="menu__listItem">
      <div class="menu__listItemHeading">
        Pricing
      </div>
    </div>
    <div class="menu__listItem">
      <div class="menu__listItemHeading">
        Blog
        <svg class="menu__listItemArrow">
          <use xlink:href="/dist/symbol-defs.svg#chevron-down"></use>
        </svg>
      </div>
      <div class="menu__sublist">
        <div class="menu__sublistItem">
          <div class="menu__sublistItemHeading">
            Buffer Social
          </div>
          <div class="menu__sublistItemSubheading">
            Thoughts on social media and online marketing
          </div>
        </div>
        <div class="menu__sublistItem">
          <div class="menu__sublistItemHeading">
            Buffer Open
          </div>
          <div class="menu__sublistItemSubheading">
            Our Journey to great productivity, more transparency and a happier workplace
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="menu__footer">
    <a class="menu__button button button--primary">Login</a>
    <a class="menu__button button button--secondary">Sign up</a>
  </div>
</div>
